*{
	margin:0;
	padding:0;
	
}
main {
  	font-family: "Noto Sans", sans-serif;
  	background-color: #FDFEFE;
	max-width:90%;
	padding: 5% 5%;
}

a {
  text-decoration: none;
  color: #1c1e92;
  cursor: pointer;
}

a:hover {
  color: #f1620f;
}


#sorttbl, #searchtbl{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	background-color: rgb(29, 35, 48, 0.7);
	border-radius: 15px;
	color: white;
}

#korisnici-div{
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	width: 90%;
}
#korisnicitbl{
 	color: #1c1e92; 
 	margin-left: auto;
	margin-right: auto;
 	width: 80%;
 	
}

 #korisnici-div th,#korisnici-div td{	
	text-align: left; 
	font-size: 20px; 
	padding-block: 20 px; 
	color: black;	
	border-bottom: 1px dashed #f1620f;
	padding: 3%;
	}

#korisnici-div a:hover{
	color: #f1620f;
}