*{
	margin:0;
	padding:0;
	
}
body{
	margin: 0 25px ;
	
}
main {
  	font-family: "Noto Sans", sans-serif;
	
	max-width:70%;
	padding: 5% 15%;
	margin-left: auto;
	margin-right: auto;
}

a {
  text-decoration: none;
  color: #1c1e92;
  cursor: pointer;
}

a:hover {  color: #f1620f; }
th, td{	text-align: left; }
.val{ width: 100%; }

#korisnikdiv{
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	width: 70%;
		background-color: rgb(244, 235, 227, 0.5);
	
}

#korisniktbl{
	color: #1c1e92; 
 	margin-left: auto;
	margin-right: auto;
 	width: 100%;
 	color: black;
}

#korisniktbl th, #korisniktbl td {
	padding: 10px;
}

.btn{
	float: right;
	background-color: #f1620f;
	color: white;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 15px; 
	
}
#terminidiv{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.treninzidiv{	
	
	padding: 5%;
	
	width: 20%;
	min-height: 50vh;
	background-color: rgb(244, 235, 227, 0.5);
	border-radius: 15px;
}
.treninzidiv h3{	padding-left: 20px;	}
.termini{
	padding: 20px;
	border-bottom: 2px solid #f1620f;

}

.termini th{
	border-right: 2px solid black; 
	text-align: left;
}
.termini td{ padding-left:10px;}

