*{
	margin:0;
	padding:0;
	
}
main {
  	font-family: "Noto Sans", sans-serif;
  	background-color: #FDFEFE;
	width:90%;
	padding: 5% 5%;
	
}

a {
  text-decoration: none;
  color: #1c1e92;
  cursor: pointer;
}

a:hover {  color: #f1620f; }

th, td{	
	text-align: left; 
	border-bottom: 1px dashed #f1620f;
	padding: 3%;
}

.val{ 
	width: 100%; 
	font-size: 20px; 
	padding-block: 20 px;
}
table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#zakazi{
	margin-top: 5vh;
	margin-left: 50%;
	transform: translate(-50%);
	background-color: #f1620f;
	color: white;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 20px; 
}