*{
	margin:0;
	padding:0;
	
}


main {
  	font-family: "Noto Sans", sans-serif;
	max-width:90%;
	padding: 5% 5%;
}

form{
	margin-top:5%;
	min-width: 30%;
	width: fit-content;
	background-color: rgb(54, 126, 126, 0.6);
	border-radius: 20px;
	padding: 20px;
}
form, table{
	margin-left:auto;
	margin-right:auto;
}

th, td{
	padding: 15px;
}
