header{
	padding-left: 7%;
	padding-right: 7%;
}

header .navdiv{ margin-left: auto; margin-right: auto;   }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(255, 119, 28, 0.9);
    border-radius: 0 0 40px 40px;
    height: 60px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.navdiv ul{
    display: flex;
    list-style-type: none;
    margin-left: 0.9rem;
}
.navdiv ul li {
    padding: 1rem;      
}
