*{
	margin:0;
	padding:0;
	
}
main {
  	font-family: "Noto Sans", sans-serif;
  	background-color: #FDFEFE;
	max-width:90%;
	padding: 5% 5%;
}

#termintbl{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}

.termintr{
	padding: 45px;
	border-bottom: 2px solid #f1620f;
}

