*{
	margin:0;
	padding:0;
	
}
main {
  	font-family: "Noto Sans", sans-serif;
  	background-color: #FDFEFE;
	max-width:90%;
	padding: 5% 5%;
}

a {
  text-decoration: none;
  color: #1c1e92;
  cursor: pointer;
}

a:hover {  color: #f1620f; }
th, td{	text-align: left; }
.val{ width: 100%; }



img{
	height: 70vh;
}

form{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}


#termini{
	margin-top: 50px;
	padding: 30px;
	border-bottom: 2px solid #f1620f;
	width: 35%;  
}

#termini th{
	border-right: 2px solid black; 
	text-align: left;
}

#termini td{ padding-left:10px;}

