*{
	margin:0;
	padding:0;
	
}
main {
  	font-family: "Noto Sans", sans-serif;
  	background-color: #FDFEFE;
	max-width:90%;
	padding: 5% 5%;
}

a {
  text-decoration: none;
  color: #1c1e92;
  cursor: pointer;
}

a:hover {
  color: #f1620f;
}


#sorttbl, #searchtbl{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	background-color: rgb(29, 35, 48, 0.7);
	border-radius: 15px;
	color: white;
}

#treningdiv{
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
}
.treningtbl{
 	color: #1c1e92; 
 	margin: 50px 20px 5px 20px;	
 	width: 19%;
}

th{	text-align: left; }
td{ text-align: right; }

#imga{
	width:100%;
}
img{
	max-height: 300px;
	width:100%;
}
