<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link type="text/css" rel="stylesheet" th:href="@{/css/korisnici.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>KARTICE</title>
</head>
<body>
<header>
	<div class="nav-div">
        <nav>
            <div class="navdiv navdiv-1">
                    <div class="col-sm">	
					<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
            </div>
            <div class="navdiv navdiv-2">
                <ul>
                       <li><a th:href="@{/}">POCETNA</a>
                       <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
                </ul>
            </div>
        </nav>
   	</div>
</header>
<main>
	<div id="container">
		<div id="korisnici-div">
			<table id="korisnicitbl">
				<tr>
					<th>KORISNIK</th>
					<th>POENI</th>
					<th>POPUST</th>
					<th>ODOBRENA</th>
				</tr>
				<tr th:each="kartica : ${kartice}">
					<td><a th:href="|korisnici/details?id=${kartica.korisnik.id}|" th:text="${kartica.korisnik.korisnickoIme}"></a></td>
					<td th:text="${kartica.poeni}"></td>
					<td th:text="${kartica.popust}"></td>
					<td>
						<label th:if="${kartica.odobrena}" th:text="odobrena"></label>
						<form  th:if="!${kartica.odobrena}" method="post" action="/teretana/clanskeKartice/odobri" onsubmit="return confirm('odobri?');">
						<input type="submit" value="ODOBRI">
						<input type="hidden" name="id" th:value="${kartica.id}">						
					</form>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
</main>
</body>
</html>