<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/trening.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>DODAVANJE TRENINGA</title>
</head>
<body>
<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
                   <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
	                    
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/nalog}+${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>

	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
 	<main>
		<form method="post" enctype="multipart/form-data" action="/teretana/treninzi/add">
			<table class="forma">
				<caption>Trening</caption>
				<tr><th>SLIKA:</th><td><input type="file" name="slika" required></td></tr>
				
				<tr><th>NAZIV:</th>
							<td><input class="val"  type="text" name="naziv" required/></td></tr>
				
				<tr><th>TRENERI</th><td><input class="val"  type="text" name="treneri" required/></td></tr>
				
				<tr><th>TIP TRENINGA</th>
					<td><th:block  th:each="itTip: ${tipovi_treninga}">
	                     <input type="checkbox" name="tipTreninga" th:value="${itTip.id}"/>
	                     <span class="val" th:text="${itTip.naziv}"></span><br>
	                 </th:block></td></tr>
				
				<tr><th>CENA</th><td><input class="val" type="number" name="cena" required/></td></tr>
				
				<tr><th>VRSTA TRENINGA</th><td>
						<select class="val" name="vrstaTreninga">
							<option th:value="${vrstaTreninga}"></option>
							<option th:each="vrstaTreninga : ${T(com.ftn.teretana.model.Trening.VrstaTreninga).values()}" th:value="${vrstaTreninga}" th:text="${vrstaTreninga}"  ></option>
						</select></td></tr>
				
				<tr><th>NIVO</th><td>
						<select class="val" name="nivoTreninga">
							<option th:value="${nivoTreninga}"></option>
							<option th:each="nivoTreninga : ${T(com.ftn.teretana.model.Trening.NivoTreninga).values()}" th:value="${nivoTreninga}" th:text="${nivoTreninga}"  ></option>
						</select></td></tr>
				
				<tr><th>TRAJANJE</th><td ><input class="val" type="text" name="trajanjeTreninga" required/></td></tr>
				
				<tr><th>OPIS</th><td><input class="val" type="text" name="opis" required/></td></tr>
								
				<tr><th></th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><input type="submit" value="DODAJ"/></td></tr>
			</table>
		</form>
	</main>
</body>
</html>