<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/trening.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>DODAVANJE TERMINA</title>
</head>
<body>
<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
                   <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
	                    
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/nalog}+${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>

	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
 	<main>
		<form method="post" action="/teretana/termini/add">
			<table class="forma">
				<caption>Termin</caption>
				
				<tr><th>SALA</th><td>
						<select class="val" name="salaid">
							<option th:each="sala : ${sale}" th:value="${sala.id}" th:text="${sala.oznaka}"  ></option>
						</select></td></tr>
				<tr><th>TRENING:</th>
							<td><input class="val"  type="text" name="treningid" th:value="${trening.id}" readonly/></td></tr>
				<tr><th>TERMIN POCETKA:</th>
							<td><input class="val"  type="datetime-local" name="vremeOdrzavanja"  /></td></tr>
				<tr><th></th><td><input type="submit" value="DODAJ"/></td></tr>				
				</table>
		</form>
	</main>

</body>
</html>