<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/trening.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>DODAVANJE SALE</title>
</head>
<body>
<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
                   <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
	                    
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/nalog}+${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
 	<main>
		<form method="post" action="/teretana/sale/add">
			<table class="forma">				
				<tr><th>OZNAKA:</th><td><input class="val"  type="text" name="oznaka" required/></td></tr>
			
				<tr><th>KAPACITET</th><td><input class="val" type="number" name="kapacitet" required/></td></tr>
				<tr><th></th><td><input type="submit" value="DODAJ"/></td></tr>
			</table>
		</form>
	</main>
</body>
</html>