<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/korisnik.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>KORISNIK</title>
</head>
<body>
<header>
	<div class="nav-div">
        <nav>
            <div class="navdiv navdiv-1">
                  <div class="col-sm">	
					<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
				</div>
                    
            </div>
            <div class="navdiv navdiv-2">
                <ul>
                       <li><a th:href="@{/}">POCETNA</a>
  	                    <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN}"><a th:href="@{/korpa}">KORPA</a></li>
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
                    <li th:if="${session.korisnik == null}"><a th:href="@{/login}">PRIJAVA</a></li>
                    <li th:if="${session.korisnik == null}"><a th:href="@{/registracija}">REGISTRACIJA</a></li>
                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
                    	                  
                </ul>
            </div>
        </nav>
   	</div>
</header>
<main>
	<div id="korisnikdiv">
	<form method="post" action="/teretana/korisnici/edit">
		<input type="hidden" name="id" th:value="${korisnik.id}"/>
		<table id="korisniktbl">
			<tr><th>KORISNICKO IME</th> 
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id}" type="text" th:value="${korisnik.korisnickoIme}" name="korisnickoIme"/>
				<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" type="text" th:value="${korisnik.korisnickoIme}" name="korisnickoIme" readonly/>
				</td>
			</tr>
			<tr><th>EMAIL</th>
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id }" type="text" th:value="${korisnik.email}" name="email"/>
					<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"  type="text" th:value="${korisnik.email}" name="email" readonly/>
				</td>
			</tr>
			<tr><th>IME</th>
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id }" type="text" th:value="${korisnik.ime}" name="ime"/>
					<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" type="text" th:value="${korisnik.ime}" name="ime" readonly/>
				</td>
			</tr>
			<tr><th>PREZIME</th>
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id }" type="text" th:value="${korisnik.prezime}" name="prezime"/>
					<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" type="text" th:value="${korisnik.prezime}" name="prezime" readonly/>
				</td>
			</tr>
			<tr><th>DATUM RODJENJA</th>
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id }" type="date" th:value="${korisnik.datumRodjenja}" name="datumRodjenja"/>
					<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" type="date" th:value="${korisnik.datumRodjenja}" name="datumRodjenja" readonly/>
				</td>
			</tr>
			<tr><th>ADRESA</th>
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id}" type="text" th:value="${korisnik.adresa}" name="adresa"/>
					<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" type="text" th:value="${korisnik.adresa}" name="adresa" readonly/>
				</td>
			</tr>
			<tr><th>BROJ TELEFONA</th>
				<td><input class="val" th:if="${session.korisnik.id == korisnik.id }" type="text" th:value="${korisnik.brojTelefona}" name="brojTelefona"/>
					<input class="val" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" type="text" th:value="${korisnik.brojTelefona}" name="brojTelefona" readonly/>
				</td>
			</tr>
			<tr><th>DATUM REGISTRACIJE</th>
				<td><input class="val" type="text" th:value="${korisnik.datumIVremeRegistracije}" name="datumIVremeRegistracije" readonly/>
				</td>
			</tr>
			<tr><th>ULOGA</th>
				<td><select class="val" name="uloga">
							<option th:text="${korisnik.uloga}" selected></option>
							<option th:each="uloga : ${T(com.ftn.teretana.model.Korisnik.Uloga).values()}" th:value="${uloga}" th:text="${uloga}"  ></option>
						</select></td>
			</tr>
			<tr th:if="${session.korisnik.id == korisnik.id}"><th>PROMENI LOZINKU</th>
				<td><input id="password" type="password" th:value="${korisnik.lozinka}" name="lozinka">
				</td>
			</tr>
			<tr th:if="${session.korisnik.id != korisnik.id}"><th></th>
				<td><input id="password" type="hidden" th:value="${korisnik.lozinka}" name="lozinka">
				</td>
			</tr>
			<!-- <tr th:if="${session.korisnik.id == korisnik.id}"><th>PONOVI LOZINKU</th>
				<td><input id="confirm_password" type="password" th:value="${korisnik.lozinka}" name="lozinka"></td>
			</tr> -->
			
			<tr><td colspan="2"><input class="btn" type="submit" value="IZMENI"></td></tr>
		</table>
		
	</form>

	

	<form method="post" action="/teretana/korisnici/blokiraj" th:if="${session.korisnik.id != korisnik.id and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
		<input type="hidden" name="id" th:value="${korisnik.id}">
		<input class="btn" type="submit" value="BLOKIRAJ KORISNIKA">
	</form>
	</div>
	<div id="terminidiv">
	
		<div class="treninzidiv">
			<form method="post" action="/teretana/clanskeKartice/zahtev" onsubmit="return confirm('Posalji zahtev?');" th:if="${session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN} and session.kartica == null">
				<input type="hidden" name="id" th:value="${korisnik.id}">
				<input class="btn" type="submit" value="POSALJI ZAHTEV ZA CLANSKU KARTICU">
			</form>
			<label class="btn" id="zahtev" th:if="${session.kartica != null and session.kartica.odobrena == false}" >Zahtev za karticu je poslat</label>
			<h3>CLANSKA KARTICA</h3>
			<table class="termini" th:if="${kartica != null and kartica.odobrena == true}">
				<tr><th>POENI</th><td><label th:text="${kartica.poeni}"></label></td></tr>
				<tr><th>POPUST</th><td><label th:text="${kartica.popust}"></label></td></tr>
			</table>
		</div>
		<div class="treninzidiv" th:if="${not #lists.isEmpty(treninzi)} and treninzi != null" >
			<h3>ZAKAZANI TRENINZI</h3>
			<table th:if="${trening} != null" class="termini" th:each="trening : ${treninzi}">
				<tr><th>CENA</th><td><label th:value="${trening.trening.cena}" th:text="${trening.trening.cena}" name="cena"></td></tr>
				<tr><th>DATUM</th><td><a th:href="|/teretana/termini/details?id=${trening.id}|"><label type="date" th:value="${#temporals.format(trening.vremeOdrzavanja, 'dd-MM-yyyy hh:mm:ss')}" th:text="${trening.vremeOdrzavanja}" name="vremeOdrzavanja"/></a><br></td></tr>				
			</table>
		</div>
		<div class="treninzidiv" id="listazeljadiv" th:if="${not #lists.isEmpty(listaZelja)} and listaZelja != null">
			<p th:if="${treninzi} == null">Korisnik nema zakazane treninge</p>
			<h3>LISTA ZELJA</h3>
			<table th:if="${zelja} != null" class="termini" id="listaZelja" th:each="zelja : ${listaZelja}">
				<tr><th>TRENING</th><td><label th:value="${zelja.trening.naziv}" th:text="${zelja.trening.naziv}" name="naziv"></td></tr>
				<tr><th>CENA</th><td><label th:value="${zelja.trening.cena}" th:text="${zelja.trening.cena}" name="cena"></td></tr>
				<tr><th>DATUM</th><td><a th:href="|/teretana/termini/details?id=${zelja.id}|"><label type="date" th:value="${#temporals.format(zelja.vremeOdrzavanja, 'dd-MM-yyyy hh:mm:ss')}" th:text="${zelja.vremeOdrzavanja}" name="vremeOdrzavanja"/></a><br></td></tr>
				<tr>
					<form method="post" action="/teretana/korpa/add" onsubmit="return confirm('Dodaj u korpu?');" >
						<input type="submit" value="Dodaj u korpu">
						<input type="hidden" name="terminid" th:value="${zelja.id}">
						<input type="hidden" name="korisnikid" th:value="${korisnik.id}">						
					</form>
				</tr>
				<tr>
					<form method="post" action="/teretana/listaZelja/delete" onsubmit="return confirm('Obrisi iz liste zelja?');">
						<input type="submit" value="Odustani">
						<input type="hidden" name="terminid" th:value="${zelja.id}">
						<input type="hidden" name="korisnikid" th:value="${korisnik.id}">						
					</form>
				</tr>				
			</table>
			<p th:if="${#lists.isEmpty(listaZelja)}">Korisnik nema listu zelja</p>
		</div>
	</div>
</main>
</body>
</html>