<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link type="text/css" rel="stylesheet" th:href="@{/css/korisnici.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>KORISNICI</title>
</head>
<body>
<header>
	<div class="nav-div">
        <nav>
            <div class="navdiv navdiv-1">
                    <div class="col-sm">	
					<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
            </div>
            <div class="navdiv navdiv-2">
                <ul>
                       <li><a th:href="@{/}">POCETNA</a>
                       <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
                </ul>
            </div>
        </nav>
   	</div>
</header>
<main>
	<div id="container">
		<form method="get">
			<div id="searchsortdiv">
				<table id="searchtbl">
					<tr>
						<th>KORISNICKO IME&nbsp;<input type="search" name="korisnickoIme" th:value="${param.korisnickoIme}?: null"/></th>
						<th>ULOGA&nbsp;
							<select name="uloga">
								<option value=""></option>
								<option th:each="uloga : ${T(com.ftn.teretana.model.Korisnik.Uloga).values()}" th:value="${uloga}" th:text="${uloga}"  ></option>
							</select>
						</th>
						<th><input type="submit" value="Pretrazi"/></th>
					</tr>
				</table>
				<table id="sorttbl">
					<tr>
						<th align="center" ><span >KORISNICKO IME</span><a th:href="@{/korisnici/OrderByKorisnickoImeASC}" >&#9650;</a>     <a th:href="@{/korisnici/OrderByKorisnickoImeDESC}">&#9660;</a></th>				
						<th align="center" ><span >ULOGA</span><a th:href="@{/korisnici/OrderByUlogaASC}" >&#9650;</a>     <a th:href="@{/korisnici/OrderByUlogaDESC}">&#9660;</a></th>
					</tr>				
				</table>
			</div>
			</form>
			<div id="korisnici-div">
				<table id="korisnicitbl">
					<tr>
						<th>KORISNICKO IME</th>
						<th>DATUM REGISTRACIJE</th>
						<th>ULOGA</th>
					</tr>
					<tr th:each="korisnik : ${korisnici}">
						<td><a th:href="|korisnici/details?id=${korisnik.id}|" th:text="${korisnik.korisnickoIme}"></a></td>
						<td th:text="${korisnik.datumIVremeRegistracije}"></td>
						<td th:text="${korisnik.uloga}"></td>
					</tr>
				</table>
			</div>
		
	</div>
</main>
</body>
</html>