<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/korpa.css}">
<title>Korpa</title>
</head>
<body>
<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
                   <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
	                    
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>

	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
	<main>
		<div id="korisnicka_korpa_div">
			<table>
				<tr>
					<th>NAZIV</th>
					<th>TRENERI</th>
					<th>TIP TRENINGA</th>
					<th>DATUM I VREME</th>
					<th>CENA</th>
				</tr>
				<tr th:each="termin : ${korpe.treninzi}">
					<td><label class="val" th:text="${termin.trening.naziv}"/></td>
					<td><label class="val" th:text="${termin.trening.treneri}"/></td>
					<td><label class="val" th:each="itTipTreninga : ${termin.trening.tipTreninga}" th:text="${itTipTreninga.naziv}"></label></td>
					<td><label class="val" th:text="${termin.vremeOdrzavanja}"/></td>
					<td><label class="val" th:text="${termin.trening.cena}"/></td>
					<td><form method="post" action="/teretana/korpa/obrisi" onsubmit="return confirm('Odustani od treninga?');">
						<input type="submit" value="Odustani">
						<input type="hidden" name="terminid" th:value="${termin.id}">
						</form>
					</td>
				</tr>
				<tr>
					<th>UKUPNA CENA</th><td th:text="${suma}"></td>
				</tr>
				<tr>
					<td><form method="post" action="/teretana/clanskeKartice/iskoristi">
						<input id="zakazi" type="submit" value="Iskoristi poene za popust">
						<input id="zakazi" type="number" placeholder="Maksimalno 5 poena" th:max="${kartica.poeni}" name="poeni">
						<input type="hidden" name="id" th:value="${kartica.id}">
						<input type="hidden" name="suma" th:value="${suma}">						
					</form></td>
				</tr>
			</table>
			<form id="formzakazi" method="post" action="/teretana/korpa/zakazi" onsubmit="return confirm('Zakazi sve?');">
						<input id="zakazi" type="submit" value="Zakazi sve">
			</form>
		</div>
	</main>
</body>
</html>