<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
	<base href="/teretana/">
	<title>Prijava</title>
</head>
<body>
	<header>
	<div class="nav-div">
	        <nav>
	            <div class="navdiv">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
	                    <li th:if="${session.korisnik == null}"><a th:href="@{/registracija}">REGISTRACIJA</a></li>
	                </ul>
	            </div>
	        </nav>
    	</div>
   	</header>
	<main>
	<form method="post" action="login">
		<table>
			<caption>Prijava korisnika na sistem</caption>
			<tr><th>Korisnicko ime:</th><td><input type="text" value="" name="korisnickoIme" required/></td></tr>
			<tr><th>Lozinka:</th><td><input type="password" value="" name="lozinka" required/></td></tr>
			<tr><td colspan="2"><input class="btn btn-primary" type="submit" value="Prijavi se" /></td>
		</table>
	</form>
	</main>
</body>
</html>