<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/login.css"/>
<title>REGISTRACIJA</title>
</head>
<body>
<!-- korisnickoIme, lozinka, email, ime, prezime, datumRodjenja, adresa, brojTelefona, -->
	<ul>
		<li><a th:href="@{/login}">Vrati se na prijavu</a></li>
	</ul>
	<br/>
	<form method="post" action="registracija">
		<table>
			<caption>Unesite Vase podatke</caption>
			<tr><th>Korisnicko ime:</th><td><input type="text" value="" name="korisnickoIme" required/></td></tr>
			<tr><th>Lozinka:</th><td><input type="password" value="" name="lozinka" required/></td></tr>
			<tr><th>Email:</th><td><input type="text" value="" name="email" required/></td></tr>
			<tr><th>Ime:</th><td><input type="text" value="" name="ime" required/></td></tr>
			<tr><th>Prezime:</th><td><input type="text" value="" name="prezime" required/></td></tr>
			<tr><th>Datum rodjenja:</th><td><input type="date" value="" name="datumRodjenja" required/></td></tr>
			<tr><th>Adresa:</th><td><input type="text" value="" name="adresa" required/></td></tr>			
			<tr><th>Broj telefona:</th><td><input type="text" value="" name="brojTelefona" required/></td></tr>			
			<tr><th></th><td><input type="submit" value="Registruj se" /></td>
		</table>
	</form>
</body>
</html>