<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link type="text/css" rel="stylesheet" th:href="@{/css/korisnik.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<title>Black smith - Sala</title>
</head>
<body>
	<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
	                    <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
						</div>
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
	<main>
		<div id="korisnikdiv">
		<form method="post" action="/teretana/sale/edit">
			<input type="hidden" name="id" th:value="${sala.id}"/>
			<table id="korisniktbl">
				<tr><th>OZNAKA</th><td><input class="val" name="oznaka" th:value="${sala.oznaka}" readonly/></td></tr>
				<tr><th>KAPACITET</th><td><input class="val" name="kapacitet" th:value="${sala.kapacitet}"/></td></tr>
				<tr><td colspan="2"><input class="btn" type="submit" value="IZMENI"></td></tr>
			</table>
		</form>
		</div>
	</main>
</body>
</html>