<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link type="text/css" rel="stylesheet" th:href="@{/css/korisnici.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="webjars/jquery/3.2.1/jquery.js" type="text/javascript"></script>
<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<title>Black smith - Sale</title>
</head>
<body>
	<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
	<!--                 <img src="img/logopng.png"> -->
	                    <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
						</div>
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
	<main>
		<div id="container">
		<form method="get">
			<div id="searchsortdiv">
				<table id="searchtbl">
					<tr>
						<th>OZNAKA&nbsp;<input type="search" name="oznaka" th:value="${param.oznaka}?: null"/></th>
						<th><input type="submit" value="Pretrazi"/></th>
					</tr>
				</table>
				<table id="sorttbl">
					<tr>
						<th align="center" ><span >OZNAKA</span><a th:href="@{/sale/OrderByOznakaASC}" >&#9650;</a>     <a th:href="@{/sale/OrderByOznakaDESC}">&#9660;</a></th>				
					</tr>				
				</table>
			</div>
		</form>
			<div id="korisnici-div">
				<table id="korisnicitbl">
					<tr>
						<th>OZNAKA</th>
						<th>KAPACITET</th>
						<th></th><th></th>
					</tr>
					<tr th:each="sala : ${sale}" id="salatr">
						<td><label id="oznaka" th:text="${sala.oznaka}"></label></td>
						<td><label id="kapacitet" th:text="${sala.kapacitet}"></label></td>
						<td><a th:href="|sale/details?id=${sala.id}|" id="editbtn" style='font-size:20px'><i class='fas fa-edit'></i></a></td>
						<td>
							<form method="post" action="sale/delete" >     
		 						<input type="hidden" name="id"  th:value="${sala.id}">     
		 						<button type="submit" style='font-size:20px'><i class='fas fa-trash-alt'></i></button>    
		 					</form> 
						</td>
					</tr>
				</table>
				<a th:href="@{/sale/add}" > Dodaj salu  </a> 
			
			
   </div>
</div>
	</main>
</body>
</html>