<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/trening.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>TERMIN</title>
</head>
<body>
<header>
	<div class="nav-div">
        <nav>
            <div class="navdiv navdiv-1">
                  <div class="col-sm">	
					<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
				</div>
                    
            </div>
            <div class="navdiv navdiv-2">
                <ul>
                       <li><a th:href="@{/}">POCETNA</a>
  	                    <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN}"><a th:href="@{/korpa}">KORPA</a></li>
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
                    <li th:if="${session.korisnik == null}"><a th:href="@{/login}">PRIJAVA</a></li>
                    <li th:if="${session.korisnik == null}"><a th:href="@{/registracija}">REGISTRACIJA</a></li>
                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
                    	                  
                </ul>
            </div>
        </nav>
   	</div>
</header>
<main>
	<table  id="termini">
		<tr class="termintr"><th>TRENING</th><td th:text="${termin.trening.naziv}"></td></tr>
		<tr class="termintr"><th>DATUM I VREME</th><td th:text="${termin.vremeOdrzavanja}"></td></tr>
		<tr class="termintr"><th>SALA</th><td th:text="${termin.sala.oznaka}"></td></tr>
		<tr class="termintr"><th>TRENERI</th><td th:text="${termin.trening.treneri}"></td></tr>
		<tr class="termintr"><th>TIP TRENINGA</th><td><label th:each="itTip: ${termin.trening.tipTreninga}" th:text="${itTip.naziv}" ></label></td></tr>
		<tr class="termintr"><th>VRSTA TRENINGA</th><td th:text="${termin.trening.vrstaTreninga}"></td></tr>
		<tr class="termintr"><th>TRAJANJE</th><td th:text="${termin.trening.trajanjeTreninga}"></td></tr>
		<tr class="termintr"><th>CENA</th><td th:text="${termin.trening.cena}"></td></tr>
		
	</table>
</main>
</body>
</html>