<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link type="text/css" rel="stylesheet" th:href="@{/css/treninzi.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>Black smith - Treninzi</title>
</head>
<body>
	<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
	<!--                 <img src="img/logopng.png"> -->
	                    <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
						</div>
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
                        <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN}"><a th:href="@{/korpa}">KORPA</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/clanskeKartice}">CLANSKE KARTICE</a></li>
	                    <li th:if="${session.korisnik == null}"><a th:href="@{/login}">PRIJAVA</a></li>
	                    <li th:if="${session.korisnik == null}"><a th:href="@{/registracija}">REGISTRACIJA</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
 	<main>
		<form method="get">
		<table id="searchtbl">
				<tr>
					<th>NAZIV&nbsp;<input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th>TIP&nbsp;
						<select name="tipTreninga">
							<option th:value="#{tipTreninga}"></option>
							<option th:each="tipTreninga : ${tipovi_treninga}" th:value="${tipTreninga}" th:text="${tipTreninga}"  ></option>
						</select>
						
					</th>
					<th>CENA<br>
						od:&nbsp;<input type="number" min="0" th:value="${param.mincena}?: '0'" name="mincena"/><br/>
						do:&nbsp;<input type="number" min="0" th:value="${param.maxcena}?: '5000'" name="maxcena"/>
					</th>
					<th>TRENERI&nbsp;<input type="search" name="treneri" th:value="${param.treneri}?: null"/></th>
					<th>VRSTA TRENINGA&nbsp;
						<select name="vrstaTreninga">
							<option th:value="${vrstaTreninga}"></option>
							<option th:each="vrstaTreninga : ${T(com.ftn.teretana.model.Trening.VrstaTreninga).values()}" th:value="${vrstaTreninga}" th:text="${vrstaTreninga}"  ></option>
						</select>
					</th>
					<th>NIVO&nbsp;
						<select name="nivoTreninga">
							<option th:value="${nivoTreninga}"></option>
							<option th:each="nivoTreninga : ${T(com.ftn.teretana.model.Trening.NivoTreninga).values()}" th:value="${nivoTreninga}" th:text="${nivoTreninga}"  ></option>
						</select>
					</th>
					<th><input type="submit" value="Pretrazi"/></th>
				</tr>
			</table>
			<table id="sorttbl">
					<tr>
						<th align="center" ><span >NAZIV</span><a th:href="@{/treninzi/OrderByNazivASC}" >&#9650;</a>     <a th:href="@{/treninzi/OrderByNazivDESC}">&#9660;</a></th>				
						<th align="center" ><span >TIP TRENIGA</span><a th:href="@{/treninzi/OrderByTipTreningaASC}" >&#9650;</a>     <a th:href="@{/treninzi/OrderByTipTreningaDESC}">&#9660;</a></th>
						<th align="center" ><span >CENA</span><a th:href="@{/treninzi/OrderByCenaASC}" >&#9650;</a>     <a th:href="@{/treninzi/OrderByCenaDESC}">&#9660;</a></th>
						<th align="center" ><span >TRENER</span><a th:href="@{/treninzi/OrderByTreneriASC}" >&#9650;</a>     <a th:href="@{/treninzi/OrderByTreneriDESC}">&#9660;</a></th>
						<th align="center" ><span >VRSTA TRENINGA</span><a th:href="@{/treninzi/OrderByVrstaTreningaASC}" >&#9650;</a>     <a th:href="@{/treninzi/OrderByVrstaTreningaDESC}">&#9660;</a></th>
						<th align="center" ><span >NIVO TRENINGA</span><a th:href="@{/treninzi/OrderByNivoTreningaASC}" >&#9650;</a>     <a th:href="@{/treninzi/OrderByVrstaTreningaDESC}">&#9660;</a></th>
						<th align="center" ><span >OCENA</span><a th:href="@{/treninzi/OrderByOcenaASC}">&#9650;</a>     <a th:href="@{/treninzi/OrderByOcenaDESC}">&#9660;</a></th></tr>				
				</table>
		<a th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" th:href="@{/treninzi/add}" > Dodaj trening  </a> 
		<div id="treningdiv">
			<table class="treningtbl" th:if="${session.korisnik == null or session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN}" th:each="itTrening, status: ${treninzi}">     		
				<tr><th colspan="2"><a id="imga" th:href="|treninzi/details?id=${itTrening.id}|"><img th:src="@{'/slike/'+ ${itTrening.slika}}" ></a></th></tr>
				<tr><th>NAZIV</th><td><a th:href="|treninzi/details?id=${itTrening.id}|" th:text="${itTrening.naziv}"></a></td></tr>    
				<tr><th>CENA</th><td th:text="${itTrening.cena}"></td></tr>
				<tr><th>PROSECNA OCENA</th><td th:text="${itTrening.prosecnaOcena}"></td></tr>    
					<!-- <td>    
						<form method="post" action="knjige/delete" >     
							<input type="hidden"  name="id"  th:value="${itKnjiga.id}">     
							<input type="submit"  value="Obriši" >    
						</form>    
					</td>   --> 
			</table>
			<table class="treningtbl" th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}" th:each="itTrening, status: ${treninziSvi}">     		
				<tr><th colspan="2"><a id="imga" th:href="|treninzi/details?id=${itTrening.id}|"><img th:src="@{'/slike/'+ ${itTrening.slika}}" ></a></th></tr>
				<tr><th>NAZIV</th><td><a th:href="|treninzi/details?id=${itTrening.id}|" th:text="${itTrening.naziv}"></a></td></tr>    
				<tr><th>CENA</th><td th:text="${itTrening.cena}"></td></tr>
				<tr><th>PROSECNA OCENA</th><td th:text="${itTrening.prosecnaOcena}"></td></tr>    
					<!-- <td>    
						<form method="post" action="knjige/delete" >     
							<input type="hidden"  name="id"  th:value="${itKnjiga.id}">     
							<input type="submit"  value="Obriši" >    
						</form>    
					</td>   --> 
			</table>
		</div>
		</form>
 	</main>
</body>
</html>