<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" th:href="@{/css/trening.css}">
<link type="text/css" rel="stylesheet" th:href="@{/css/nav.css}">
<title>TRENING DETAILS</title>
</head>
<body>
	<header>
		<div class="nav-div">
	        <nav>
	            <div class="navdiv navdiv-1">
                   <div class="col-sm">	
						<h3 class="korisnik" th:if="${session.korisnik != null}" th:text="${session.korisnik.ime + ' ' + session.korisnik.prezime}"></h3>	
					</div>
	                    
	            </div>
	            <div class="navdiv navdiv-2">
	                <ul>
                        <li><a th:href="@{/}">POCETNA</a>
   	                    <li th:if="${session.korisnik != null}"><a th:href="@{/korisnici/details?id=} +${session.korisnik.id}">MOJ NALOG</a></li>	                  
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN}"><a th:href="@{/korpa}">KORPA</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/korisnici}">OSOBE</a></li>
	                    <li th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><a th:href="@{/sale}">SALE</a></li>
	                    <li th:if="${session.korisnik == null}"><a th:href="@{/login}">PRIJAVA</a></li>
	                    <li th:if="${session.korisnik == null}"><a th:href="@{/registracija}">REGISTRACIJA</a></li>
	                    <li th:if="${session.korisnik != null}"><a th:href="@{/logout}">ODJAVA</a></li>
	                    	                  
	                </ul>
	            </div>
	        </nav>
    	</div>
	</header>
 	<main>
 		
		<form method="post" action="/teretana/treninzi/edit">
			<input type="hidden" name="id" th:value="${trening.id}"/><!-- popuni value atribut vrednošću -->
			<div id="slika">
				<img th:src="@{'/slike/'+ ${trening.slika}}" >
				<!-- <input th:value="${trening.slika}" type="file" name="slika"> -->
				
			</div>
			<table class="forma">
				<caption>Trening</caption>
				<!-- <tr><td colspan="2"><img th:src="@{'/slike/'+ ${itTrening.slika}}" ></td></tr> -->
				
				<tr><th>NAZIV:</th>
							<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
							<input class="val"  type="text" th:value="${trening.naziv}" name="naziv"/></td>
							<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.naziv}"></td></tr>
				
				<tr><th>TRENERI</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
							<input class="val"  type="text" th:value="${trening.treneri}" name="treneri"/></td>
							<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.treneri}"></td></tr>
				
				<tr><th>TIP TRENINGA</th>
					<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
					
					<th:block  th:each="itTip: ${tipovi_treninga}">
	                     <input type="checkbox" name="tipTreninga" th:value="${itTip.id}" th:checked="${#lists.contains(trening.tipTreninga, itTip)}"/>
	                     <span class="val" th:text="${itTip.naziv}"></span><br>
	                 </th:block></td> 
	                 
	                 <td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:each="itTip: ${trening.tipTreninga}" th:text="${itTip.naziv}"></br></td></tr>
				
				<tr><th>CENA</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><input class="val" type="number" th:value="${trening.cena}" name="cena"/></td>
						<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.cena}"></td></tr>
				
				<tr><th>VRSTA TRENINGA</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
						<select class="val" name="vrstaTreninga">
							<option th:text="${trening.vrstaTreninga}" selected></option>
							<option th:each="vrstaTreninga : ${T(com.ftn.teretana.model.Trening.VrstaTreninga).values()}" th:value="${vrstaTreninga}" th:text="${vrstaTreninga}"  ></option>
						</select></td>
						<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.vrstaTreninga}"></td>
						</tr>
				
				<tr><th>NIVO</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
						<select class="val" name="nivoTreninga">
							<option th:text="${trening.nivoTreninga}" selected></option>
							<option th:each="nivoTreninga : ${T(com.ftn.teretana.model.Trening.NivoTreninga).values()}" th:value="${nivoTreninga}" th:text="${nivoTreninga}"  ></option>
						</select></td>
						<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.nivoTreninga}"></td></tr>
				
				<tr><th>TRAJANJE</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><input class="val" type="text" th:value="${trening.trajanjeTreninga}" name="trajanjeTreninga"/></td>
						<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.trajanjeTreninga}"></td></tr>
				
				<tr><th>OCENA</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><input class="val" type="number" th:value="${trening.prosecnaOcena}" name="prosecnaOcena"/></td>
						<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.prosecnaOcena}"></td></tr>
				
				<tr><th>OPIS</th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><input class="val" type="text" th:value="${trening.opis}" name="opis"/></td>
						<td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN or session.korisnik == null}" th:text="${trening.opis}"></td></tr>
								
				<tr><th></th><td th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}"><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form action="/teretana/termini/add" method="get" th:if="${session.korisnik != null and session.korisnik.Uloga == T(com.ftn.teretana.model.Korisnik.Uloga).ADMINISTRATOR}">
 			<input type="hidden" th:value="${trening.id}" name="treningid"/>
 			<input type="submit" value="Dodaj termin">
 		</form>
		<table id="termini" th:each="termin, status: ${termini}">
			<tr><th>SALA</th><td><label th:value="${termin.sala}" th:text="${termin.sala.oznaka}" name="sala"></label></td></tr>
			<tr><th>DATUM</th><td><label th:value="${#temporals.format(termin.vremeOdrzavanja, 'dd-MM-yyyy hh:mm:ss')}" th:text="${termin.vremeOdrzavanja}" name="vremeOdrzavanja"></label><br></td></tr>
			<tr th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN}"><th colspan="1" >
				<form method="post" action="/teretana/korpa/add" onsubmit="return confirm('Dodaj u korpu?');" th:if="${#lists.contains(nepopunjeni, termin)} or ${!#lists.contains(termin.clanovi, session.korisnik)}">
					<input type="submit" value="Dodaj u korpu">
					<input type="hidden" name="terminid" th:value="${termin.id}">
				</form>
				<!-- <label th:if="${#lists.contains(termin.clanovi, session.korisnik)}">Vec ste zakazali ovaj termin</label>
				<label th:if="not ${#lists.contains(nepopunjeni, termin)}">Termin je popunjen</label> -->

			</th></tr>
			<tr th:if="${session.korisnik != null and session.korisnik.uloga == T(com.ftn.teretana.model.Korisnik.Uloga).CLAN }"><th colspan="1" >
				<form method="post" action="/teretana/listaZelja/add" onsubmit="return confirm('Dodaj u listu zelja?');">
					<input type="submit" value="Dodaj u listu zelja">
					<input type="hidden" name="terminid" th:value="${termin.id}">
				</form>
				<!-- <label th:if="${#lists.contains(termin.clanovi, session.korisnik)}">Vec ste zakazali ovaj termin</label>
				<label th:if="not ${#lists.contains(nepopunjeni, termin)}">Termin je popunjen</label> -->

			</th></tr>
		</table>
	</main>
</body>
</html>